<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/icon.png" height="100">
            <p>Website to know current weather details of any location. It uses Mapbox to get coordinates of entered location and Weatherstack to fetch weather details.<br><br>Made with Node.js</p>
        </div>
        {{>footer}}
    </body>
</html>